.subcribe{
    background-color: #F7F7F7;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 40px;
    margin-top: 20px;
}

.subcribe-content h1{
    font-weight: 1000;
}

.social-icon{
    display: flex;
    padding: 10px;
}

.social-icon svg{
    margin-right: 15px;
    
}

@media (max-width: 1050px) {
    .subcribe{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 900px) {
    .subcribe{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}

@media (max-width: 750px) {
    .subcribe{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

   
  
}