.register {
    width: 100%;
    height: 90vh;
    padding-top: 100px;
    font-family: Arial, sans-serif;
}
.register-container {
    width: 550px;
    text-align: center;
    height: 450px;
    border-radius: 10px ;
    background: rgb(245, 245, 245);
    margin: auto;
    border: 5px;
    padding: 20px 60px;
}
.register-container h1 {
    margin: 0px 0px;
}
.register-fields {
    display: flex;
    flex-direction: column;
gap: 29px;
    margin-top: 15px;
}
.register-fields input {
    height: 50px;
    border-radius: 5px;
    width: 445px;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #6c6c6c;
    font-size: 16px;
}
.register-container button {
    width: 450px;
    height: 45px;
    color: white;
    background: rgb(16, 182, 1);
    margin-top: 20px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 30px;
    cursor: pointer;
}
.register-container button:active {
    background: #1C7820;
}
.register-createaccount {
    align-items: center;
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 500;
}
.register-createaccount span {
    color: #000000;
    font-weight: 600;
}
.register-agree {
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 10px;
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 500;
}